<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Your Profile</title>
</head>
<body>
  <div class="profile">
    <h2>Profile Information</h2>
    <p>Name: {{User.name}}</p>
    <p> firstName:{{User.firstName}}</p>
    <p> LastName:{{User.lastName}}</p>
    <p>Phone_Number:{{User.phone}}</p>
    <p>State :{{User.state}}</p>
    <p> DIstric:{{User.distric}}</p>
     <p> Address:{{User.address}}</p>
     <p> Email:{{User.email}}</p>
  
    <a href="/">Back to Home</a>
  </div>
</body>
</html>
